.OverallLearnPage{
    background-color: #161616;
    min-height: 100vh;
}
.ImageContainer{
    position: relative;
    height: 70vh;
    /* height: auto; */
    width: 100vw;
}
.IndividualWhatWeDoTopic{
    font-family: System;
    font-size: xx-large;
}
.IndividualWhatWeDo1{
    width: 50%;
    margin: auto;
    height: 50vh;
    background: rgba(255, 175, 0, 0.1);
    color: white;
}


@media screen and (max-width:1200px) {  
    .IndividualWhatWeDo1{
        width: 75%;
        margin: auto;
        height: 50vh;
    }
  
}
@media screen and (max-width:920px) {  
    .IndividualWhatWeDo1{
        width: 85%;
        margin: auto;
        height: 45vh;
    }
    .ImageContainer{
        position: relative;
        height:40vh;
    }
}
@media screen and (max-width:768px) {  
    .IndividualWhatWeDo1{
        width: 85%;
        margin: auto;
        height: max-content;
        margin: 2rem 0px ;
    }
}